#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    background-color: rgba(250, 250, 250, 0.85);
    position: relative;

    &-title {
        padding: 1em;
        text-align: center;

        & > a:hover {
            text-decoration: underline;
        }
    }
}

.toast-progress {
    background: var(--burgundy-color) !important;
}

@media (max-width: 767px) {
    .main {
        padding-top: 5em;

        & > section {
            height: auto;
            position: static;
        }
    }
}