@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

*:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

input, textarea, button {
  border: none;
  background: transparent;
}

b {
  font-weight: 700;
}

body {
  font-size: 1.58vw;
  background: url(/media/body_bg.jpg) 0% 0% / cover no-repeat fixed rgb(204, 204, 204);;
  font-family: "Philosopher", sans-serif;
}

:root {
  --burgundy-color: rgba(55, 4, 1, 0.85);
  --blink-color: rgba(255, 255, 200, 0.9);
  --fs-s: .8em;
  --fs-ms: 1.1em;
  --fs-m: 1.25em;
  --fs-l: 1.5em;
  --fs-xl: 1.75em;
  --fw-r: 400;
  --fw-b: 700;
  --header-color: #ccc;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.bigtext {
  font-family: "Libertinus Sans", sans-serif;
}

[data-shown="false"] {display: none;}

.check-order{
  inline-size: 3em;
  block-size: 3em;
  display: inline-block;
}
.check-order svg{ width: 100%; height: 100%; display: block; }

.check-order__circle,
.check-order__mark{
  fill: none;
  stroke: green;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.check-order.animate .check-order__circle{
  animation: draw .7s ease-out forwards .3s;
}
.check-order.animate .check-order__mark{
  animation: draw .7s ease-out forwards 1.1s;
}

@keyframes draw{
  to{ stroke-dashoffset: 0; }
}

@media (min-width: 1200px) {
  body {
    font-size: 19px;
  }
}

@media (max-width: 1023px) {
  body {
    font-size: 1.85vw;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 12pt;
  }
}