<h2>Delivery</h2>
<p>Delivery is carried out with the help of Nova Poshta at the rates of the carrier. Practice has shown that 
    parcels in Kyiv (as well as Sofievskaya, Petropavlovskaya Borshagovka, Bornichi) arrive at the branch on 
    the same day before 18:00, in regional centers the next day in the morning. When ordering from 1000 UAH in 
    Kyiv and from 1500 in Ukraine, Nova Poshta services are at our expense.</p>
<p>Self-pickup from our offline points of sale is possible. Individual delivery of the order from the production
    or offline store at the specified time is also possible using the Uklon service, and is paid according to 
    the carrier's rates.</p>
<p>Orders are shipped on Tuesday, Thursday, Friday and Saturday mornings.</p>
<h2>Payment</h2>
<p>Payment is possible in cash or by Visa and Mastercard to the cashier at the pick-up point. When sending by 
    Nova Post, you will be sent a link for online payment (Plata Monobank service). It is also possible to pay 
    by details or transfer to a Privatbank or Monobank card.
    <!--It is also possible to pay for your order on our website (you will receive a payment link via SMS after packing your order).//-->
    The order is sent by individual delivery only after full payment.</p>
<h2>Attention!</h2>
<p>The order amount is indicated as an approximate amount and may differ from the final amount within 15% (this mainly happens
    for delicacies). All products are packaged in vacuum packaging or packaging with inert gas. After opening
    this package, the film must be disposed of and the product must be stored in a clean refrigerator, open or wrapped in
    parchment. (<b>Important!</b> Our products are meat products and do not contain preservatives or various moisture-retaining
    impurities; it is strictly forbidden to store such products in plastic bags!)</p>