<h2>Доставка</h2>
<p>Доставка осуществляется с помощью Новой Почты по тарифам перевозчика. Практика показала, что посылки по Киеву 
    (а также Софиевская, Петропаловская Борщаговка, Борничи) приходят в отделение день в день до 18:00, в областные 
    центры на следующий день с утра. При заказе от 1000 грн по Киеву и от 1500 по Украине, услуги новой почты за наш счет.</p>
<p>Возможен самовывоз с наших офлайн точек продаж. Также возможна индивидуальная доставка заказа с производства либо офлайн магазина в указаное время с помощью сервиса Uklon,
    и оплачивается согласно тарифам перевозчика.</p>
<p>Отправка заказов производится утром во вторник, четверг, пятницу и субботу.</p>
<h2>Оплата</h2>
<p>Оплата возможна наличными либо картами Visa и Mastercard кассиру в точке самовывоза. При отправке новой почтой вам 
    будет отправлена ссылка для онлайн оплаты (сервис Plata Monobank). Также возможна оплата по реквизитам
    либо перевод на карту Приватбанка либо Монобанка.
    <!--Также возможно оплатить заказ на нашем сайте (ссылку для оплаты вы получите в смс после упаковки заказа).//-->
    Отправка заказа индивидуальной доставкой осуществляется только после полной оплаты.</p>
<h2>Внимание!</h2>
<p>Сумма заказа указывается ориентировочная и может отличаться от конечной в пределах 15% (в основном это бывает на 
    деликатесах). Вся продукция упаковывается в вакуумную упаковку либо упаковку с инертным газом. После открытие данной упаковки
    пленку нужно утилизировать а продукт хранить в чистом холодильнике открыто либо завернуть в пергамент. (<b>Важно!</b> Наша
    продукция мясная и не содержит консервантов и различных влагоудерживающих примесей, категорически запрещено хранить такую продукцию
    в полиэтиленовых пакетах!)</p>