<h2>Доставка</h2>
<p>Доставка здійснюється за допомогою Нової Пошти за тарифами перевізника. Практика показала, що посилки Києвом 
    (а також Софіївська, Петропалівська Борщагівка, Борничі) приходять у відділення щодня до 18:00, до обласних 
    центрів наступного дня з ранку. При замовленні від 1000 грн по Києву та від 1500 по Україні, послуги нової 
    пошти за наш рахунок.</p>
<p>Можливий самовивіз із наших офлайн точок продажу. Також можлива індивідуальна доставка замовлення з виробництва 
    або офлайн магазину у вказаний час за допомогою сервісу Uklon та оплачується згідно з тарифами перевізника.</p>
<p>Відправлення замовлень проводиться вранці у вівторок, четвер, п'ятницю та суботу.</p>
<h2>Оплата</h2>
<p>Оплата можлива готівкою або картками Visa та Mastercard касиру в точці самовивезення. При надсиланні новою поштою 
    вам буде відправлено посилання онлайн оплати (сервіс Plata Monobank). Також можлива оплата за реквізитами або 
    переказ на картку Приватбанку або Монобанку.
    <!--Також можливо сплатити замовлення на нашому сайті (посилання для оплати ви отримаєте у смс після упаковки замовлення). //-->
    Відправка замовлення індивідуальною доставкою здійснюється лише після повної оплати.</p>
<h2>Увага!</h2>
<p>Сума замовлення вказується орієнтовна і може відрізнятись від кінцевої в межах 15% (в основному це буває на 
    делікатесах). Вся продукція упаковується у вакуумну упаковку чи упаковку з інертним газом. Після відкриття цієї упаковки
    плівку необхідно утилізувати, а продукт зберігати в чистому холодильнику відкрито або загорнути в пергамент. (<b>Важливо!</b> Наша
    продукція м'ясна і не містить консервантів та різних вологоутримуючих домішок, категорично заборонено зберігати таку
    продукцію у поліетиленових кульках!)</p>