<p><img src="/media/author.jpg" alt="" title="">Hello. I am glad to welcome you to our store. Let's get acquainted, I'm Alexander,
    founder of the Sosnovsky online store, chief engineer and co-founder of Sosnovsky Product Kyiv production.</p>
<p>I have loved sausage since childhood. My uncle worked in a sausage factory and would bring the product home from work
    with the words “you can eat this sausage.” Then I still didn’t understand his words, I only knew that there was a very
    tasty "Doktorskaya", which my family couldn’t afford. Those were the crisis years of the 90s and the main diet consisted
    of products grown in the garden. From time to time, sausage from my uncle appeared in our refrigerator. I really liked
    it and wanted there to be more of it. I said then: “When I grow up, I will earn a lot of money and buy myself a lot of sausage”...</p>
<p>Time passed and the crisis ended, but the enterprise whose products I loved so much disappeared. I was already able to
    buy groceries myself and regularly bought various sausage products, but it wasn’t the same. I couldn’t understand why
    there wasn’t such a tasty sausage as before from my childhood, and I began to give preference to buying raw meat, from
    which I cooked my dinner. I was already disappointed in sausages until I got to Sosnovsky.</p>
<p>It was a revelation for me. It turns out there are still people who know how to cook delicious sausage, the same one
    that I loved so much as a child. And the secret of preparation is very simple: high-quality raw materials and knowledge
    of recipes and the cooking process without additives. Now I work at the Sosnovsky Product production facility and
    constantly bring our products home with the words “you can eat this sausage.” I know and see how and what we make our
    products from and I am so confident in it that I have been giving it to my daughter since she was 1 year old.</p>
<p>Now I want Sosnovsky to be available to you too. Short lead times and lack of returns do not allow us to enter large
    retail chains, so we have created a small network of our own branded stores. And to make the availability of our products
    even better, we have created an online store for you.</p>