<p><img src="/media/author.jpg" alt="" title="">Добрый день. Рад приветствовать Вас в нашем магазине. Давайте знакомиться, я Александр, основатель
    интернет магазина "Сосновський", главный инженер и соучередитель производства "Сосновский Продукт Киев"</p>
<p>Я с детства люблю колбасу. Мой дядя работал на колбасном производстве и приносил с работы продукцию со словами "эту
    колбасу можно есть". Тогда я ещё не понимал его слов, лишь знал, что бывает очень вкусная Докторская, которая моей
    семье была не по карману. То были кризисные 90е годы и основной рацион питания состоял из продуктов, выращенных на огороде.
    Раз от разу в нашем холодильнике появлалясь колбаса от моего дяди. Мне очень она нравилась и я хотел, чтобы её было больше.
    Я сказал тогда: " когда я вырасту, буду зарабатывать много денег и куплю себе много колбасы"...</p>
<p>Прошло время и кризис закончился, но предприятия, продукцию которого я так любил не стало. Я уже мог сам покупать
    продукты и регулярно брал различную колбасную продукцию, но это уже было не то. Я не мог понять, почему нет такой
    вкусной колбасы, как раньше из моего детства, и предпочтение стал отдавать покупке сырого мяса, из которого готовил
    себе ужин. Я уже было разочаровался в колбасах, до тех пор, пока не попал в "Сосновський".</p>
<p>Для меня это было открытие. Оказывается ещё есть люди, которые умеют и готовят вкусную колбасу, ту самую, что я так
    любил в детстве. И секрет приготовления очень простой: качественное сырье и знание рецептур и процесса приготовления
    без добавок. Сейчас я работаю на производстве "Сосновський Продукт" и постоянно приношу домой нашу продукцию со словами
    "эту колбасу можно есть". Я знаю и вижу, как и из чего мы производим нашу продукцию и я на столько в ней уверен, что
    даю своей дочери с 1 года.</p>
<p>Теперь я хочу, чтобы "Сосновський" был доступен и для Вас. Короткие сроки реализации и отсутствие возвратов не позволяет
    нам заходить в большие торговые сети, поэтому мы создали небольшую сеть наших фирменных магазинов. А чтобы доступность
    нашей продукции была ещё лучше, мы создали для вас интернет магазин.</p>
