<p><img src="/media/author.jpg" alt="" title="">Добрий день. Радий вітати Вас у нашому магазині. Давайте знайомитись, я Олександр, засновник
    інтернет магазину "Сосновський", головний інженер та співзасновник виробництва "Сосновський Продукт Київ"</p>
<p>Я з дитинства люблю ковбасу. Мій дядько працював на ковбасному виробництві та приносив з роботи продукцію зі словами
    "цю ковбасу можна їсти". Тоді я ще не розумів його слів, лише знав, що буває дуже смачна Лікарська, яка моїй родині
    була не по кишені. То були кризові 90-ті і основний раціон харчування складався з продуктів, вирощених на городі.
    Раз у раз у нашому холодильнику з'являлася ковбаса від мого дядька. Мені дуже вона подобалася, і я хотів, щоб її було
    більше. Я сказав тоді: "коли я виросту, зароблятиму багато грошей і куплю собі багато ковбаси"...</p>
<p>Минув час і криза закінчилася, але підприємства, продукцію якого я так любив не стало. Я вже міг сам купувати продукти
    та регулярно брав різну ковбасну продукцію, але це вже було не те. Я не міг зрозуміти, чому немає такої смачної ковбаси,
    як раніше з мого дитинства, і став віддавати перевагу купівлі сирого м'яса, з якого готував собі вечерю. Я вже було
    розчарувався у ковбасах, доки не потрапив до "Сосновського".</p>
<p>Для мене це було відкриття. Виявляється, ще є люди, які вміють і готують смачну ковбасу, ту саму, що я так любив у дитинстві.
    І секрет приготування дуже простий: якісна сировина та знання рецептур та процесу приготування без домішок. Наразі я
    працюю на виробництві "Сосновський Продукт" і постійно приношу додому нашу продукцію зі словами "цю ковбасу можна їсти".
    Я знаю і бачу, як і з чого ми виготовляємо нашу продукцію і я на стільки в ній впевнений, що даю своїй доньці з 1 року.</p>
<p>Тепер я хочу, щоб "Сосновський" був доступним і для Вас. Короткі терміни реалізації та відсутность повернень не дозволяє
    нам заходити у великі торгові мережі, тому ми створили невелику мережу наших фірмових магазинів. А щоб доступність нашої
    продукції була ще кращою, ми створили для вас інтернет-магазин.</p>