.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    background-color: var(--base-color);
    color: var(--wt);

    & > .wrapper {
        min-height: 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}