.order-list {
    border-collapse: collapse;
    margin: 0 auto;

    &-summary {
        text-align: center;
        padding-top: .5em;
        padding-bottom: .5em;
        font-weight: var(--fw-b);
    }

    &-message {
        font-size: var(--fs-s);
        text-align: center;
        padding: .5em;
    }
}

@media (max-width: 560px) {
    .order-list {
        display: block;

        & > tbody {
            display: block;

            & > tr {
                display: flex;
                flex-wrap: wrap;
                padding: 1em 0;
                gap: .5em 0;

                & > td {
                    display: block;

                    &:nth-child(2) {
                        width: calc(100% - 5.2em);
                    }

                    &:nth-child(4) {
                        margin-left: 2em;
                    }
                }
            }
        }
    }
}