.pack-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  display: flex;

  & > aside {
    width: 25%;
    padding: .5em;
    background-color: #555;
    color: white;
    display: flex;
    flex-direction: column;
    gap: .75em;

    & button {
      border: 1px solid #ccc;
      background-color: rgba(255,255,255,0.1);
      color: white;

      &:hover {
        background-color:  rgba(255,255,255,0.8);
        color: #555;
      }
    }
  }

  & > main {
    padding: .5em;

    & > table {
      margin: 0 auto;
      border-collapse: collapse;

      & tr {
        transition: background-color .25s;

        &:hover {
          background-color: #efe;
        }
      }

      & th, & td {
        padding: .5em;
        border: 1px solid #777;
      }

      & input {
        background-color: transparent;
        text-align: right;
      }
    }
  }

  &__complete {
    padding: 1em 0;
    display:  flex;
    justify-content: flex-end;

    &[data-shown="false"] {
      display: none;
    }
  }
}