.nova-post-cities {
    position: absolute;
    top: 100%;
    background-color: white;
    z-index: 2;
    width: 100%;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 10em;

    & > p {
        padding: .5em;
        border-bottom: 1px dotted rgba(55,4,1,0.1);
        cursor: pointer;

        &:hover {
            background-color: rgba(55,4,1,0.1);
        }
    }

    &__clear-city {
        position: absolute;
        z-index: 2;
        bottom: 2px;
        right: 0;
        width: 2em;
        height: 2em;
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="%23370501" height="20" width="20" viewBox="0 0 20 20"><path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path></svg>');
        background-position: center;
        background-repeat: no-repeat;
        opacity: .2;
        transition: opacity .3s;

        &:hover {
            opacity: .5;
        }
    }
}

input#city {
    padding-right: 2em;
}